@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<DomainModel.Models.PatientModel>

@{
    ViewBag.Title = "Index";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <button type="button" onclick="location.href='@Url.Action("PatientForm")'">Nieuwe Patiënt</button>
</div>
<div>
    <h4>Patiënten</h4>
    <hr />
    <table cellpadding="5" cellspacing="0">
        <tr>
            <th>Naam</th>
            <th>Email</th>
            <th>Geboorte datum</th>
            <th>Telefoonnummer</th>
            <th>Geslacht</th>
            <th>Patiëntennummer</th>




        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientNr)
        </td>






    </tr>
            }
    </table>
</div>
